/* 为主界面的主要部分设置的样式 */

.content{
    /* border: 1px solid #000000; */
    width: 75%;
    height: max-content;
    margin: 0px;
    padding: 50px 70px;
    background-color: #FAF9F8;
    display: flex;
    flex-direction: column;
    position: relative;
}
.headline{
    /* background-color: aquamarine; */
    width: 100%;
    height: 100px;
    float: left;
    text-align: left;
}
.headline-other{
    width: 100%;
    height: 60px;
    float: left;
    text-align: left;
    padding: 30px 0px 0px 20px;
}
.head-detail{
    /* background-color: aqua; */
    padding-left: 35px;
}
.item-slot{
  /* border: 1px solid #000; */
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-top: 15px;
}
.item-container{
  /* border: 1px solid #000; */
  width: 257px;
  height: 180px;
  margin: 0px 40px 20px 0px;
  display: inline-block;
}