a:link {
    color: black
}
  
icon.color {
    color: black;
}

.side:not(.el-menu--collapse) {
    width: 200px;
    min-height: 762px;
    height: fit-content;
    position:static;
    background-color: #FFF;
    float: left;
    margin: 0px;
    padding: 0px;
}

.fold-line {
    /* border: 1px solid #000; */
    width: 200px;
    text-align: left;
    padding: 0px 0px 0px 25px;
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}
.fold-line.collapse {
    width: 60px;
}
.fold-line:hover {
    color: #337ecc;
}

.menu {
    border: transparent;
    width: 183px;
}

.menuItem {
    width: 99%;
    padding: 0px;
    margin: 0px;
}

.list-title {
    text-align:left;
    font-size: 14px;
    color:#606266;
    font-weight: 600;
    padding-left: 5px;
}

.list-line{
    /* border: 1px solid #000; */
    width: 100%;
    text-align: left;
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.icon-delete{
    color: #525355;
    padding-right: 15px;
}